html, body, #container {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.navbar {
  min-height: 5rem;
}

#page {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#sidebar {
  float: left;
  height: 100%;
  max-width: 100%;
  width: 0px;
  overflow-x: scroll;
}

#mapdiv {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: auto;
}

.sidebar-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

.sidebar-wrapper .description {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 10vh;
  white-space: pre-wrap;
}
#sidebar .site {
  overflow: hidden;
  text-overflow: ellipsis;
}
#sidebar .action-btn {
  cursor: pointer;
}

#permloc-detail-modal-description {
  white-space: pre-wrap;
}

.leaflet-container {background: #000;}

.map-legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.map-legend h4 {
    margin: 0 0 5px;
    color: #777;
}
.map-legend button {
  background-color: transparent;
  color: grey;
  border: none;
  padding: 1px;
}
.map-legend button:hover {
  background-color: transparent;
}
.map-legend button:focus {
  background-color: transparent;
}
.map-legend .active {
  background-color: transparent;
  color: black;
  border: none;
  padding: 1px;
}
.map-legend .active img {
  filter: invert(100%);
}
