<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <div class="navbar-brand">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="http://gw2rp-tools.ovh">Outils RP</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" id="nav-cartographe"><a href="/cartographe" class="nav-link"><span class="glyphicon glyphicon-globe"></span> Cartographe</a></li>
          <li class="nav-item" id="nav-documentation"><a href="/pages/documentation.html" class="nav-link">Documentation</a></li>
          <li class="nav-item" id="nav-connect"><a href="#" class="nav-link">Se connecter</a></li>
          <li class="nav-item" id="nav-account"><a href="/pages/account" class="nav-link">Mon Compte</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
</nav>
