body {
  padding-top: 5rem;
  background-color: #d2a679; /* Base color theme : #996633 */
  background-image: url('/src/img/bg/purty_wood.png');
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar {
  background-color: brown!important;
}
.navbar .nav-item .nav-link {
  color: white;
}
.navbar .active>.nav-link {
  color: yellow!important;
}

.action-button {
  cursor: pointer;
}

.btn-link {
  cursor: pointer;
}
